<h1>Edit Product</h1>

<form (submit)="onSubmit()" #formObject='ngForm'>
<h4>Title 
  <input 
  type="text" 
  name="title" 
  required
  minlength="4" 
  [(ngModel)]='upd8P.title'
  >
</h4>
<h4>Price
  <input 
  type="text" 
  name="price" 
  required 
  [(ngModel)]='upd8P.price'
  >
</h4>
<h4>Image URL
  <input 
  type="text" 
  name="image"  
  [(ngModel)]='upd8P.image'
  >
</h4>
  <input 
  type="submit" 
  value="Update"
  [disabled]='formObject.invalid' 
  >
  <button id="delete" (click)="destroy()">Delete</button>
</form>
